@import "tailwindcss";

@theme {
  --color-primary-50: #f5f7ff;
  --color-primary-100: #ebf0fe;
  --color-primary-200: #ced9fd;
  --color-primary-300: #b1c2fb;
  --color-primary-400: #7694f8;
  --color-primary-500: #3b66f5;
  --color-primary-600: #355cd3;
  --color-primary-700: #2c4db0;
  --color-primary-800: #233d8d;
  --color-primary-900: #1d3273;

  --color-dark-50: #f6f6f6;
  --color-dark-100: #e7e7e7;
  --color-dark-200: #d1d1d1;
  --color-dark-300: #b0b0b0;
  --color-dark-400: #888888;
  --color-dark-500: #6d6d6d;
  --color-dark-600: #5d5d5d;
  --color-dark-700: #4f4f4f;
  --color-dark-800: #454545;
  --color-dark-900: #3d3d3d;
  --color-dark-950: #1a1a1a;

  --font-sans: "Inter", system-ui, sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

@layer base {
  body {
    @apply bg-dark-950 text-dark-50 antialiased;
  }
}
